* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #6A4BFF08;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

.header {
    padding-top: 56px;
    background-image: url('./assets/bg/bg__header.png');
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.navbar__right {
    display: flex;
    gap: 48px;
    align-items: center;
}

.navbar__nav {
    display: flex;
    gap: 48px;
}

.navbar__nav-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #92929D;
}

.navbar__nav-item:hover {
    color: #6A4BFF;


}


.header__nav-item--signin {
    width: 148px;
    height: 60px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 14px;
    opacity: 0px;
    background: #6A4BFF;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
}


.showCase {
    display: flex;
    margin-top: 72px;
    justify-content: space-between;
    gap: 22px;
    width: 88%;
    position: absolute;
    z-index: 12;
}

.showCase__right {
    display: flex;
    flex-direction: column;
    width: 58%;
    height: 645px;
    margin-top: 72px;
}

.showCase__left {
    width: 66%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 129px;
    row-gap: 40px;
}

.showCase__hero {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.showCase__bigTitle {
    width: 100%;
    font-size: 52px;
    font-weight: 600;
    line-height: 67.6px;
    text-align: left;
    color: #364670;
}

.showCase__smallTitle {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #92929D;
}

.showCase__button--get-started {
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 14px;
    opacity: 0px;
    border: none;
    background: #6A4BFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin-right: 48px;
    width: 195px;
    height: 60px;

}

.showCase__button--learn-more {
    width: 195px;
    height: 60px;
    padding: 15px 39px 15px 40px;
    gap: 10px;
    border-radius: 14px;
    border: 1.5px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    border: 1.5px solid #6A4BFF;
    color: #6A4BFF;
    background-color: transparent;
}

.finance {
    width: 316px;
    height: 169px;
    background-color: #FFFFFF;
    box-shadow: 12px 12px 80px 0 #6A4BFF26;
    gap: 24px;
    border-radius: 24px;
    opacity: 0px;
    background-color: #FFFFFF;
    padding: 16px 24px;
    margin-right: 62px;
    margin-bottom: 32px;
}

.image__accent {
    position: relative;
}

.about__finance {
    display: flex;
    position: relative;
    gap: 62px;
    justify-content: space-between;
}

.finance_first-img {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.finance__p {
    margin-right: 62px;
}

.finance__xlsx {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #364670;
}

.finance_imgs {
    display: flex;
}

.finance_img1 {
    position: absolute;
    z-index: 10;
    right: 35px;
}

.finance_img2 {
    position: absolute;
    z-index: 9;
    right: 10px;
}

.finance_img3 {
    position: absolute;
    z-index: 8;
    right: -14px;

}

.finance__mb {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #92929D;
}

.folder {
    margin-right: 10%;
    margin-top: 4%;
}



.storage {
    display: flex;
    flex-direction: column;
    Width: 43.4%;
    Height: 336px;
    box-shadow: 12px 12px 80px 0 #6A4BFF26;
    justify-content: center;
    align-items: center;
    padding: 36px 48px 32px 26px;
    border-radius: 30px;
    margin-bottom: 32px;
}

.storage_img {
    Width: 168px;
    Height: 167px;
    margin-bottom: 39px;
}

.audio {
    position: absolute;
    right: 73%;
    top: 45%;
}



.num {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    margin-right: 4px;

}

.gb_tb {
    display: flex;
    margin-bottom: 12px;
}

.volume {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #92929D;

}

.storage_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #92929D;

}

.drive_pdf {
    display: flex;
    align-items: center;
    width: 459px;
    height: 76px;
    padding: 14px 32px;
    box-shadow: 8px 8px 40px 0 #6A4BFF26;
    border-radius: 30px;
    /* position: absolute; */
    z-index: 11;
}

.drive_p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #364670;
    margin-left: 32px;
    margin-right: 83px;

}

.first_team {
    display: flex;
    width: 100%;
    justify-content: end;
}

.second_team {
    display: flex;
    gap: 162px;
    justify-content: end;
    align-items: center;
    width: 100%;
}




.third_team {
    display: flex;
    margin-right: 42px;
    justify-content: end;
}

.image {
    position: absolute;
    right: 89%;
    bottom: 10%;
}

.main {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_section-div {
    display: flex;
    margin-top: 144px;
    justify-content: space-between;
    gap: 22px;
    width: 88%;
    flex-direction: column;
}

.first_section {
    background-image: url('./assets/bg/bg__first-section.png');
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#futures_h3 {
    width: 100%;
    font-size: 52px;
    font-weight: 600;
    line-height: 67.6px;
    text-align: left;
    color: #364670;
}

.service {
    display: flex;
    flex-direction: column;
    width: 88%;
    row-gap: 16px;
    margin-bottom: 64px;
}

.cards {
    height: 454px;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
}

.have_services {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #92929D;
    Width: 311px;

}


swiper-container {
    width: 100%;
    height: 454px;
    border-radius: 30px;
}



swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 375px;
}

.all_cards {
    height: 454px;
    padding: 36px 32px 53px;
    border-radius: 30px;
    width: 375px;

}

.card_img {
    width: 114px;
    height: 114px;
    display: flex;
    margin-bottom: 77px;
}

.card_title {
    color: #364670;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    margin-bottom: 24px;
}

.card_description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #92929D;
}

.second_section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #6A4BFF08;
}

.pricing-plans {
    padding: 144px 0 100px 0;
    width: 88%;
}

.pricing-plans__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
    align-items: center;
}

.pricing-plans__title {
    color: #364670;
    font-size: 52px;
    font-weight: 600;
    line-height: 67.6px;
    text-align: center;
}

.pricing-plans__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: center;
    color: #92929D;
    width: 415px;
    display: flex;
    justify-content: center;
}

.pricing-plans__list {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.pricing-plans__item {
    width: 398px;
    height: 659px;
    gap: 0px;
    border-radius: 24px;
}

.card_top {
    background-color: #F5980D33;
    height: 76px;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-plan__badge,
.pricing-plan__badge1,
.pricing-plan__badge2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #F5980D;
}

#center__top {
    background-color: #6A4BFF33;
}

.pricing-plan__badge1 {
    color: #6A4BFF;

}

#last__top {
    background: #F9505033;
}

.pricing-plan__badge2 {
    color: #F95050;
}


.plan_h3 {
    padding: 32px 24px 0;
}

.pricing-plan__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #364670;
    margin-bottom: 8px;
}

.pricing-plan__price {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #364670;
    margin-bottom: 32px;
}

.pricing-plan__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #92929D;
    width: 334px;
    height: 87px;
}

.pricing-plan__feature {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 184px;
    justify-content: center;
    row-gap: 24px;
    margin-top: 32px;
}

.pricing-plan__feature--available {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #364670;
}

#center_card {
    box-shadow: 0px 4px 48px 0px #6A4BFF1A;
}

.pricing-plan__btn {
    width: 220px;
    height: 60px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    background-color: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

#first-btn {
    border: 1.5px solid #F95050;
    color: #F95050;
}

#first-btn:hover {
    background-color: #F95050;
    color: #FFFFFF;

}


#center-btn {
    border: 1.5px solid#6A4BFF;
    color: #6A4BFF;
}

#center-btn:hover {
    background-color: #6A4BFF;
    color: #FFFFFF;
}

#last-btn {
    border: 1.5px solid #3BC963;
    color: #3BC963;
}

#last-btn:hover {
    background-color: #3BC963;
    color: #FFFFFF;
}

.third_section {
    width: 100%;
    background-image: url('./assets/bg/bg__third_sec.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.third_section_div {
    padding: 164px 0 113px;
    display: flex;
    justify-content: space-between;
    width: 88%;
}

.third_sec__right {
    width: 38.7%;
}

.thirds_sec__texts {
    width: 62%;
    height: 94px;
    margin-right: 185px;
    row-gap: 16px;
}

.question_h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #364670;

}

.contact_p {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #364670;
}

.question_box {
    width: 33.6%;
    height: 481px;
}

.for-question_box {
    width: 100%;
}

.question_p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    margin-bottom: 16px;
    color: #364670;
}

.email-inp {
    width: 100%;
    height: 60px;
    gap: 10px;
    border-radius: 14px;
    border: 1.5px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    outline: none;
    border: 1.5px solid #EAEAEA;
    padding: 10px 16px;
    margin-bottom: 38.5px;
    color: #364670;
}

.email-inp::placeholder {
    color: #92929D;
}

#question-inp {
    width: 100%;
    height: 203px;
    gap: 10px;
    border-radius: 14px;
    border: 1.5px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    outline: none;
    border: 1.5px solid #EAEAEA;
    padding: 10px 16px;
    margin-bottom: 38.5px;
    color: #364670;
    resize: none;
}

.submit-btn {
    width: 100%;
    height: 60px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 14px;
    background-color: transparent;
    background: #6A4BFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.footer {
    margin-top: 1897px;
    width: 100%;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-image: url(./assets/bg/bg__footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 612px;
    padding: 62px 118px 132px 56px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.footer__contact-name {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__logo {
    width: 70px;
    height: 70px;
}

.footer__name {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #364670;
}

.footer__about-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #92929D;
    width: 77%;
}

.footer__cotact-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__contact-text {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #364670;
}

.footer__sitemap {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    margin-top: 110px;
}

.footer__sitemap-title--text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #364670;
    margin-bottom: 32px;
}

.footer__sitemap-item {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    color: #364670;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    margin-top: 110px;

}

.footer__social-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #364670;
}

.footer__social-icons {
    display: flex;
    gap: 24px;
}

@media (max-width: 770px) {

    .header {
        height: 100vh;
    }

    .navbar {
        width: 88%;
        height: 40px;
    }

    .navbar__logo {
        width: 40px;
        height: 40px;
    }

    .navbar__text {
        font-size: 16px;
    }

    .navbar__right {
        height: 40px;
        width: 63%;
    }

    .navbar__nav {
        gap: 13px;
        align-items: center;
    }

    .navbar__nav-item {
        font-size: 12px;
    }

    .header__nav-item--signin {
        width: 16.6%;
        height: 75%;
        font-size: 12px;
        padding: 0 5px;
        text-align: center;
    }

    .showCase {
        width: 88%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .showCase__bigTitle {
        font-size: 35px;
        line-height: 40px;
        width: 100%;
    }

    .showCase__right {
        margin-top: 340px;
    }

    .showCase__smallTitle {
        font-size: 16px;
    }

    .showCase__hero {
        row-gap: 20px;
    }

    .showCase__left {
        row-gap: 20px;
    }



    .first_section {
        padding-top: 350px;

    }

    .service {
        align-items: center;
        width: 100%;
    }

    #futures_h3 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .finance_img1,
    .finance_img2,
    .finance_img3 {
        width: 38px;
    }

    .folder>img {
        width: 56px;
    }

    .folder {
        margin-top: 10%;
    }

    .audio>img {
        width: 86px;
    }

    .storage_img {
        width: 148px;
    }

    .finance {
        width: 250px;
        height: 130px;
        margin-right: 32px;
    }

    .finance_first-img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .finance__xlsx {
        font-size: 14px;
    }

    .storage {
        width: 53.4%;
        height: 300px;
    }

    .num {
        font-size: 16px
    }

    .volume {
        font-size: 16px;
    }

    .storage_p {
        font-size: 14px;
    }

    .image>img {
        width: 55px;
    }

    .image {
        bottom: 17%;
    }

    .showCase__buttons {
        display: flex;
    }

    .showCase__button--get-started {
        margin-right: 10;
        margin-bottom: 20px;
        width: 49%;
        padding: 5px 20px;
        font-size: 16px;
    }

    .showCase__button--learn-more {
        margin-bottom: 20px;
        width: 49%;
        padding: 5px 20px;
        font-size: 16px;
    }

    .third_team {
        margin-right: 38px;
    }

    .drive_pdf {
        width: 320px;
        padding: 10px 17px;
        border-radius: 15px;
    }

    .drive__logo2 {
        width: 36px;
    }

    .drive__logo2 {
        width: 28px;
    }

    .drive_p {
        font-size: 12px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .first_section-div {
        margin-top: 100px;
    }

    .have_services {
        font-size: 16px;
        text-align: center;
    }

    .all_cards {
        padding: 10px;
        height: 100%;
    }

    .cards {
        width: 100%;
    }


    .mySwiper {
        height: 300px;
    }

    .swiper-wrapper {
        width: 50%;
        height: 300px;
    }

    swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden {
        width: 50%;
        height: 300px;
    }

    swiper-slide {
        width: 50%;

        height: 300px;
    }

    .card {
        max-width: 100%;

    }

    .card_description {
        font-size: 12px;
        line-height: 20px;
        width: 100%;
        height: 100%;
    }

    .card_img {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
    }

    .card_title {
        margin-bottom: 18px;
        font-size: 18px;
        width: 100%;
    }

    .second_section {
        width: 100%;
    }


    .plan_h3 {
        padding: 10px 10px 0;
    }

    .pricing-plans {
        padding: 100px 0 80px;
    }

    .pricing-plans__title {
        font-size: 35px;
        line-height: 40px;
        width: 100%;
    }

    .pricing-plans__header {
        margin-top: 50px;
    }

    .pricing-plans__subtitle {
        font-size: 16px;
    }

    .pricing-plans__item {
        width: 31%;
        height: 350px;
    }

    .pricing-plan__title {
        font-size: 16px;
        width: 100%;
        height: 22px;
    }

    .pricing-plan__price {
        margin-bottom: 10px;
        font-size: 12px;
        height: 20px;
    }

    .pricing-plan__description {
        font-size: 10px;
        width: 100%;
        height: 49.14px;
        line-height: 15px;
    }

    .pricing-plan__feature {
        width: 100%;
        row-gap: 20px;
        height: 100%;

    }

    .pricing-plan__feature--available {
        font-size: 8px;
        gap: 10px;
        height: 20px;
    }

    .pricing-plan__feature--available>img {
        width: 20px;
    }

    .pricing-plan__feature {
        margin-top: 15px;
        row-gap: 10px;
    }

    .pricing-plan__btn {
        margin-top: 10px;
        width: 45%;
        height: 35px;
        font-size: 14px;
        padding: 2px;
    }

    .card_top {
        height: 40px;
    }

    .pricing-plan__badge,
    .pricing-plan__badge1,
    .pricing-plan__badge2 {
        font-size: 14px;
    }

    .third_section_div {
        flex-direction: column;
        padding: 70px 0 113px;
    }

    .third_sec__right {
        width: 100%;
    }

    .third_sec__left {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .third_sec__left>img {
        width: 405px;
    }

    .thirds_sec__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: 100%;
    }

    .footer {
        margin-top: 1768px;
    }

    .footer-div {
        padding: 62px 65px 62px;
    }

    .footer__contact {
        row-gap: 20px;
    }

    .footer__contact-name {
        row-gap: 10px;
    }

    .footer__contact-text {
        font-size: 18px;
        gap: 20px;
    }

    .footer__contact-icon {
        width: 23px;
    }

    .footer__logo {
        width: 50px;
        height: 50px;
    }

    .footer__name {
        font-size: 28px;
    }

    .footer__about-p {
        font-size: 16px;
    }

    .footer__sitemap-title--text {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer__sitemap-item {
        font-size: 16px;
        text-align: center;
    }

    .footer__sitemap {
        align-items: center;
        margin-top: 70px;
        row-gap: 15px;
    }

    .footer__social-media {
        align-items: center;
        margin-top: 70px;
    }

    .footer__social-text {
        text-align: center;
        font-size: 20px;
    }

    .footer__social-icons {
        gap: 12px;
    }

    .footer__social-icon {
        width: 20px;
    }
}